<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wfindgarage"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
    
    <application
        android:allowBackup="true"
        android:name="com.example.utils.UILApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/activityTheme" >
        <activity
            android:name="com.example.wfindgarage.Main1Activity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.wfindgarage.JianJiechefangActivity"></activity>
        <activity android:name="com.example.wfindgarage.SearchYaocheActivity"></activity>
        <activity android:name="com.example.wfindgarage.ZiliaochefangActivity"></activity>
        <activity android:name="com.example.wfindgarage.chefangActivity"></activity>
        <activity android:name="com.example.wfindgarage.NewNoticeActivity"></activity>
        <activity android:name="com.example.wfindgarage.NewDiscussActivity"></activity>
        <activity android:name="com.example.wfindgarage.MyZiliaoActivity"></activity>
        <activity android:name="com.example.wfindgarage.fujinchefangActivity"></activity>
        <activity android:name="com.example.wfindgarage.MeiYuePaiHangActivity"></activity>
        
    </application>

</manifest>
